* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #817e7e;
    font-family: 'Times New Roman', serif;
}

.calculator {
    border: 1px solid #f8f2f2;
    padding: 20px;
    border-radius: 10px;
    background-color: #ededed;
    box-shadow: 0 0 10px rgba(241, 238, 238, 0.1);
}

#display {
    width: 100%;
    height: 50px;
    text-align: right;
    padding: 10px;
    font-size: 1.5em;
    margin-bottom: 10px;
    border: 1px solid hsl(0, 16%, 92%);
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.2em;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #aeacac;
    cursor: pointer;
}

